body {
    background: #88b900 !important;
    overflow: hidden;
    margin: 0;
}

.manual-container-fluid {
    position: absolute;
    height: 100vh;
}

/* .manual-box-login {
    height: 300px;
    aspect-ratio: 1;
} */